@import 'tailwindcss';
@import 'katex/dist/katex.min.css';

@font-face {
  font-family: 'Inter';
  src: url( '../assets/Inter.woff2' ) format( 'woff2' );
  font-weight: 100 900;
}

@font-face {
  font-family: 'Fira Code';
  src: url( '../assets/FiraCode.woff2' ) format( 'woff2' );
  font-weight: 100 900;
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --font-mono: 'Fira Code', ui-monospace, monospace;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar { display: none }
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: #f3f4f6;
  overflow: hidden;
  cursor: default;
}

#root {
  width: 100%;
  height: 100%;
}

.token.command, .token.keyword { color: #2b579a; }
.token.parameter { color: #605e5c; }
.token.punctuation { color: #323130; }
.token.operator { color: #d13438; font-weight: bold; }
.token.number { color: #008000; font-weight: bold; }
.token.string { color: #22863a; }
.token.symbol { color: #2b579a; }
.token.variable { color: #323130; }
.token.comment { color: #605e5c; font-style: italic; }
.latex-editor textarea,

.latex-editor pre {
  @apply no-scrollbar;
  tab-size: 2;
  white-space: pre-wrap !important;
  line-height: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  overflow-wrap: break-word !important;
}

.latex-editor textarea {
  outline: none !important;
}

.katex-display {
  margin: 0 !important;
}

.katex {
  font-size: 1.1em;
}

.katex-html {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
